.main {
  margin-top: 100px;
}      
   display: block;
    width: 400px;
    margin-top:100px; 
.search-input {
  display: block;
  width: 400px;
  margin-top: 100px;
}
.logo-img {
  display: block;
  width:300px;
  margin-top: 100px;
}

  